# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs/
prof/

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
coverage
*.local
.vite

# Local environment files
*.local
.env

# Data
data/

# Cypress
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store
*.todo
*.tsbuildinfo

# Python cache
__pycache__/
.mypy_cache/
.pytest_cache/

# AWS SAM
.aws-sam/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
