# Generated
dist/
data/
.aws-sam/
.terraform/
.terraform.lock.hcl

# Observability
logs/
prof/

# Cache files
__pycache__/
.mypy_cache/
.pytest_cache/

# OS, Editor
*.todo
.vscode/
.idea/
*.DS_Store

# Secret
.env
