@import './base.css';
@import 'vue-sound/style.css';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  font-family: 'Courier New', Courier, monospace;

  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: start;
  }

  
  body {
    background: radial-gradient(circle at 10% 30%, rgba(200, 0, 100, 0.377), transparent),
                radial-gradient(circle at 90% 80%, rgba(255, 50, 149, 0.274), transparent),
                linear-gradient(to bottom right, #2d2d2d, #1a1a1a);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

}
